
.item-button button{
  margin-top: 15px;
  width: 175px;
  background-color:rgba(215, 79, 30, 0.97);
  color:white;
  
}
.ant-layout-header{
  line-height: 0;
  display: flex;
  /* //align-items: center; */
  justify-content: space-between;
}
.cart-item{
  display: flex;
  padding-right: 30px;
  
  cursor: pointer;
}
.cart-item p{
  margin-top: 30px;
  font-weight: bold;
  
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.spinner-border{
  height:50px;
  width:50px;
}
.category {
  border: 1px solid gray;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}
.category img{
  margin-left: 10px;
}
.category-active{
  border:2px solid green;
  background-color: grey;
}
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.register input{
  width: 400px;
}
.register-form{
  
    background-color: #614a63;;
  padding: 20px;
  padding: 25px 15px;
  border-radius: 3%;
  box-shadow: 10px 10px 9px lightblue;
     
}
.login-text{
   margin-left:50%;
   transform: translate(-50%);
  
}